html {
    height: 100%;
}

body {
    /*background-color:#fcdccc; 20px 55px*/
    background-color: #333333;
    color: white;
    font-style: normal;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: calc(0.9em + 1vw);
    line-height: calc(1.5em + 0.1vw);
    margin-top: 3vw;
    margin-left: 6vh;
    margin-right: 6vh;

    display: flex;
    min-height: 100%;
    flex-direction: column;
}

img {
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ffedde;
}

ul {
    list-style-type: none;
}

h1 {
    width: -moz-fit-content;
    width: fit-content;
    font-size: calc(1.7em + 1vw);
    /*transform: scale(0.98, 1.1); */
    margin: 0;
}

h2 {
    font-size: calc(1em + 0.5vw);
    margin: 0.1em 0.1em 0.1em 0;
}


/* footer */

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    margin-bottom: 1.5vw;
}

.mail, .github, .linkedin {
    margin: 0.7em;
    font-size:1.3em;
}


/* about */

.about-me {
    position: relative;
    width: 100%;
    height: 160vw;
    /*border: 1px solid black; */
}

.title1, .title2, .title3, .title4, .title5, .title6, .title7, .title8, .title9 {
    z-index: 2;
    position: absolute;
}

.title1 {
    display: none;
}

.title2 {
    /*text-align: center; */
    top: 10%;
}

.title3 {
    top: 17%;
    left: 12%;
}

.title4 {
    top: 24%;
    left: 12%;
}

.title5 {
    top: 31%;
}

.title6 {
    top: 38%;
    left: 12%;
}

.title7 {
    top: 45%;
}

.title8 {
    top: 52%;
}

.title9 {
    top: 59%;
}

.action-photo {
    z-index: 1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 90%;
}

.personal-photo {
    z-index: 1;
    position: absolute;
    bottom: 8%;
    right: 6%;
    width: 32%;
    height: 25%;
}

.email_text {
    text-decoration: underline;
}

.contact {
    font-size: calc(1.1em + 0.5vw);
    margin: 0.5em 0.5em 0.5em 0;
    line-height: calc(1.1em + 0.1vw);
}


/* media queries for phone, iPad and larger desktop screens */


@media only screen and (min-width: 720px) {

    body {
        font-size: calc(1em + 1vw);
        line-height: calc(1.6em + 0.1vw);
    }

    h1 {
        font-size: calc(2.1em + 1vw);
    }

    h2 {
        font-size: calc(1.6em + 0.5vw);
        margin: 0.4em 0.4em 0.4em 0;
    }

    .title1 {
        top: 3%;
        display: block;
    }

    .personal-photo {
        right: 10%;
        width: 29%;
        bottom: -10%;
    }

    .contact {
        font-size: calc(2.1em + 0.5vw);
        margin: 0.5em 0.5em 0.5em 0;
        line-height: calc(1.1em + 0.1vw);
    }
}

@media only screen and (min-width: 1024px) {

    body {
        font-size: calc(1.1em + 1vw);
        line-height: calc(1.6em + 0.1vw);
    }

    h1 {
        font-size: calc(3em + 0.4vw);
    }

    h2 {
        font-size: calc(1.9em + 0.5vw);
        margin: 0.4em 0.4em 0.4em 0;
    }

    .title1 {
        top: 3%;
        display: block;
    }

    .action-photo {
        width: 60%;
    }

    .personal-photo {
        right: 5%;
        width: 26%;
        height: 25%;
        bottom: 0;
    }

    .contact {
        font-size: calc(2.2em + 0.5vw);
        margin: 0.5em 0.5em 0.5em 0;
        line-height: calc(1.1em + 0.1vw);
    }

}


@media only screen and (min-width: 1600px) {

    body {
        font-size: calc(1.2em + 1vw);
        line-height: calc(1.3em + 0.1vw);
    }

    h1 {
        font-size: calc(3.8em + 0.6vw);
    }

    /*h2 {
        font-size: calc(2.2em + 0.5vw);
        margin: 0.6em 0.6em 0.6em 0;
    } */

    .action-photo {
        width: 60%;
    }

    .personal-photo {
        right: 5%;
        width: 26%;
        height: 25%;
        bottom: 0;
    }

    .contact {
        font-size: calc(2.2em + 0.5vw);
        margin: 0.5em 0.5em 0.5em 0;
        line-height: calc(1.1em + 0.1vw);
    }

    .title1 {
        top: 3%;
        display: block;
    }
}

