body {
    /*background-color:#fcdccc; */
    background-color: #333333;
    color: white;
    font: normal 20px Helvetica, Verdana, Arial, sans-serif;
    line-height:1.6em;
    margin: 20px 55px;
}

img {
    width:650px;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ffedde;
}

ul {
    list-style-type: none;
}

h1 {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 140px;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* content */

.container-content {
    flex: 1;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
}

.mail, .github, .linkedin {
    margin: 10px;
}


/* about */

.about-me {
    position: relative;
    width: 100%;
    height: 70em;
    /*border: 1px solid black; */
}

.title1, .title2, .title3, .title4, .title5, .title6 {
    z-index: 2;
    position: absolute;
    height: 60px;
}

.title1 {
    width: 1375px;
    top: 20%;
    left: 3.5%;
}

.title2 {
    width: 1100px;
    top: 30%;
    left: 15%;
}

.title3 {
    width: 800px;
    top: 40%;
    left: 45%;
}

.title4 {
    width: 800px;
    top: 50%;
    left: 30%;
}

.title5 {
    width: 800px;
    top: 60%;
    left: 15%;
}

.title6 {
    width: 800px;
    top: 70%;
    left: 30%;
}

.action-photo {
    z-index: 1;
    position: fixed;
}

.personal-photo {
    z-index: 1;
    position: absolute;
    bottom: 15%;
    right: 0;
}

/* contact message */

.contact {
}


/* contact icons */




/* media queries for phone, iPad and larger desktop screens */

@media only screen and (max-width: 576px) {

    body {
        font: normal 10px Helvetica, sans-serif;
    }

    h1 {
        font-size: 30px;
    }
    .about-me {
        height: 60em;
    }

    .action-photo {
        top: 10%;
        width: 150px;
        height: 100px;
    }

    .personal-photo {
        width: 100px;
        height: 150px;
    }

    .title1 {
        width: 300px;
        top: 20%;
        left: -5%;
        transform: scale(.99, 2);
    }

    .title2 {
        width: 100px;
        top: 30%;
        left: 15%;
    }

    .title3 {
        width: 80px;
        top: 40%;
        left: 45%;
    }

    .title4 {
        width: 70px;
        top: 50%;
        left: 30%;
    }

    .title5 {
        width: 60px;
        top: 60%;
        left: 15%;
    }

    .title6 {
        width: 50px;
        top: 70%;
        left: 30%;
    }


}




/*
@media (max-width: 768px) {
    h1 {
        font-size: 45px;
    }
    .about-me {
        height: 500px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 45px;
    }
    .about-me {
        height: 800px;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 45px;
    }
    .about-me {
        height: 1200px;
    }
}

@media (min-width: 1201px) {
    h1 {
        font-size: 45px;
    }
    .about-me {
        height: 90em;
    }
} */



/*
STILL TODO:

- google font Helvetica
- media queries for phone, ipad and larger screens
- checkout transforming font for responsiveness
- different background(maybe photo?)
 */