html {
    height: 100%;
}

body {
    /*background-color:#fcdccc; 20px 55px*/
    background-color: #333333;
    color: white;
    font-style: normal;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: calc(0.9em + 1vw);
    line-height: calc(1.5em + 0.1vw);
    margin-top: 3vw;
    margin-left: 6vh;
    margin-right: 6vh;

    display: flex;
    min-height: 100%;
    flex-direction: column;
}

img {
    width: 60%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ffedde;
}

ul {
    list-style-type: none;
}

h1 {
    width: -moz-fit-content;
    width: fit-content;
    font-size: calc(1.9em + 1vw);
    /*transform: scale(0.98, 1.1); */
    margin: 0;
}

h2 {
    font-size: calc(1.1em + 0.5vw);
}


/* footer */

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    margin-bottom: 1.5vw;
}

.mail, .github, .linkedin {
    margin: 10px;
}


/* about */

.about-me {
    position: relative;
    width: 100%;
    height: 160vw;
    /*border: 1px solid black; */
}

.title1, .title2, .title3, .title4, .title5, .title6, .title7, .title8, .title9 {
    z-index: 2;
    position: absolute;
}

.title1 {
    display: none;
}

.title2 {
    /*text-align: center; */
    top: 10%;
}

.title3 {
    top: 17%;
    left: 12%;
}

.title4 {
    top: 24%;
    left: 12%;
}

.title5 {
    top: 31%;
}

.title6 {
    top: 38%;
    left: 12%;
}

.title7 {
    top: 45%;
}

.title8 {
    top: 52%;
}

.title9 {
    top: 59%;
}

.action-photo {
    z-index: 1;
    position: fixed;
}

.personal-photo {
    z-index: 1;
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 80%;
}

/* contact message */

.contact {
}


/* contact icons */




/* media queries for phone, iPad and larger desktop screens */


@media only screen and (min-width: 720px) {

    body {
        font-size: calc(1em + 1vw);
        line-height: calc(1.6em + 0.1vw);
    }

    h1 {
        font-size: calc(3.1em + 1vw);
    }

    h2 {
        font-size: calc(1.3em + 0.5vw);
    }

    .title1 {
        top: 40%;

    }
}

@media only screen and (min-width: 1024px) {

    body {
        font-size: calc(1em + 1vw);
        line-height: calc(1.6em + 0.1vw);
    }

    h1 {
        font-size: calc(3.1em + 1vw);
    }

    h2 {
        font-size: calc(1.3em + 0.5vw);
    }

}

/*

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

} */



/*
STILL TODO:

- google font Helvetica
- media queries for phone, ipad and larger screens
- checkout transforming font for responsiveness
- different background(maybe photo?)
 */

/*

html {
    height: 100%;
}

body {
    background-color: #333333;
    color: white;
    font-style: normal;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: calc(0.8em + 1vw);
    line-height: calc(1.5em + 0.1vw);
    margin-top: 3vw;
    margin-left: 6vh;
    margin-right: 6vh;

    display: flex;
    min-height: 100%;
    flex-direction: column;
}

img {
    width: 45%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ffedde;
}

ul {
    list-style-type: none;
}

h1 {
    width: -moz-fit-content;
    width: fit-content;
    font-size: calc(5.5em - 0.5vw);
    margin: 0;
}

h3 {
    font-size: calc(1em + 0.5vw);
}


.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    margin-bottom: 1.5vw;
}

.mail, .github, .linkedin {
    margin: 10px;
}

.about-me {
    position: relative;
    width: 100%;
    height: 90vw;
}

.title1, .title2, .title3, .title4, .title5, .title6 {
    z-index: 2;
    position: absolute;
}

.title1 {
    top: 20%;
}

.title2 {
    top: 30%;
    left: 15%;
}

.title3 {
    top: 40%;
    left: 45%;
}

.title4 {
    top: 50%;
    left: 30%;
}

.title5 {
    top: 60%;
    left: 15%;
}

.title6 {
    top: 70%;
    left: 30%;
}

.action-photo {
    z-index: 1;
    position: fixed;
}

.personal-photo {
    z-index: 1;
    position: absolute;
    bottom: 10%;
    right: 0;
}


.contact {
}

+/


